<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>474928599645-3p11g50ivalcq9krump7fu2rn98js3dj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.474928599645-3p11g50ivalcq9krump7fu2rn98js3dj</string>
	<key>API_KEY</key>
	<string>AIzaSyAGaSR1PT2NSsfkhMa3FdKuSKOuWAWlsfA</string>
	<key>GCM_SENDER_ID</key>
	<string>474928599645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.allspots.app</string>
	<key>PROJECT_ID</key>
	<string>allspots-5872e</string>
	<key>STORAGE_BUCKET</key>
	<string>allspots-5872e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474928599645:ios:38e47bf3530fa449f3b3b4</string>
	<key>DATABASE_URL</key>
	<string>https://allspots-5872e-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>
